	{% extends "FreeDesignBundle::layout.html.twig" %}
		{% block body %}
 {% for template in templates %}
 <div class="box">
	      <a href="{{path('free_design_template',{'name':template.title|replace({' ':"-"})})}}"> <img src="{{asset('templates/'~template.files~'/'~template.tumbnail)}}"></a><br>
	       <a href="{{path('free_design_preview',{'name':template.title|replace({' ':"-"})})}}">preview</a><br>

	       </div>
	 {% endfor %}
	 	{% endblock %}  