{% extends "FreeDesignBundle::layout.html.twig" %}
	{% block body %}
Free Design Bundle<br><br>
<a href=""> back</a>

<iframe src="{{asset('templates/'~template.files~'/preview/index.php')}}" name="iframe_a"></iframe> 

	{% endblock %}

