
    
    <ul id="showCategoriesWidget">
    {% for cat in categories %}
      <li id="{{cat.id}}">{{cat.name}}<span onclick="del({{cat.id}})" class="glyphicon glyphicon-remove removable" ></span></li>
    {% endfor%}
    </ul>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>

    function del(id)
    {
  
     
    $.ajax({
       url : '{{path('free_design_api_delete_Category')}}',
       type : 'POST',
       data : 'id='+id,
       dataType : 'json',
       complete : function(result, statut){
            if(result.responseJSON.data)
            {
                  $('#'+id).remove();
                  }

       }
    });
   
    }
    </script>

