
		
	{% block body %}

<div id="top">
Free Design Bundle<br><br>
<a href="javascript:history.go(-1)"> back</a>
</div>
<div id="bot">
<iframe src="{{asset('templates/'~template.files~'/preview/index.html')}}" id="iframe" name="iframe_a"></iframe> 
</div>


	{% endblock %}

